CTFs-workspace.code-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Python
__pycache__/
*.py[cod]

# CTFd Example
ctfd_example
ctfd_example.zip

crypto-cracking/flag.txt

# exclude pyftpd submodule
going-backwards/pyftpd-0.8.4.5